#logo {
    padding: 1%;
}

ul {
    list-style-type: none;
    overflow: hidden;
    margin-top: -3% !important;
    padding: 0%;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    margin-left: 27% !important;
}

ul li {
    display: inline;
}

ul li a {
    padding: 15px;
    text-decoration: none !important;
    color: black;
}

span {
    display: inline;
}

.fa-lg {
    font-size: 0.6em;
    padding-left: 4px;
    vertical-align: 19%;
}

.getQuote {
    width: 4%;
    height: 60px;
    border-radius: 37px;
    background-color: #896EFF;
    margin-top: -4%;
    margin-left: 85%;
}

.greaterThen {
    font-size: 33px;
    color: white;
    padding-left: 19px;
    /* padding-top: 11px; */
}

#quote {
    float: right;
    margin-top: -3%;
    font-weight: bold;
    color: #896EFF;
}

.navigationBar {
    background-color: #FAFAFF;
}

#desc {
    font-size: 65px;
    font-weight: bold;
}

.fontColor {
    color: #896EFF;
}

#desc2 {
    font-size: 22px;
}

.learnMore {
    width: 8%;
    height: 60px;
    border-radius: 37px;
    background-color: #896EFF;
}

#learn {
    margin-top: -6%;
    margin-left: 10%;
}

.setBg {
    background-image: url('./Image/section1-BG.png');
}

.addImage {
    background-image: url('./Image/section1-BG2.png');
}

.addPadding {
    padding-top: 140px;
}

.positionImage {
    position: absolute;
    left: 2px;
    max-width: 100%;
    height: auto;
}

.clientImage {
    display: inline;
    padding: 2% 4%;
}

#client-1a {
    display: none;
}

#client-1:hover {
    background-color: #896EFF;
    border-radius: 3%;
}

#client-1:hover #client-1a {
    display: inline;
}

#client-1:hover #client-1b {
    display: none;
}

#client-2b {
    display: none;
}

#client-2:hover {
    background-color: #896EFF;
    border-radius: 3%;
}

#client-2:hover #client-2b {
    display: inline;
}

#client-2:hover #client-2a{
    display: none;
}

#client-3b {
    display: none;
}

#client-3:hover {
    background-color: #896EFF;
    border-radius: 3%;
}

#client-3:hover #client-3b {
    display: inline;
}

#client-3:hover #client-3a {
    display: none;
}

#client-4b {
    display: none;
}

#client-4:hover {
    background-color: #896EFF;
    border-radius: 3%;
}

#client-4:hover #client-4b {
    display: inline;
}

#client-4:hover #client-4a {
    display: none;
}

#client-5b {
    display: none;
}

#client-5:hover {
    background-color: #896EFF;
    border-radius: 3%;
}

#client-5:hover #client-5b {
    display: inline;
}

#client-5:hover #client-5a {
    display: none;
}

#client-6b {
    display: none;
}

#client-6:hover {
    background-color: #896EFF;
    border-radius: 3%;
}

#client-6:hover #client-6b {
    display: inline;
}

#client-6:hover #client-6a {
    display: none;
}

.menuText {
    background-color: #F3F0FF;
    color: #896EFF;
    padding: 11px 43px;
    font-size: 21px;
    font-weight: bold;
    border-radius: 14px;
}

.menuSubHeading {
    font-size: 45px;
    font-weight: bold;
    color: #1F2471;
}
#backgroundYellow{
    background-color: #FFA808;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}
.offset-1{
    margin-left: 12.333% !important
}
#backgroundPink{
    background-color: #FF586E;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}
#backgroundGreen{
    background-color: #029F76;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}
.addBackground{
    background-image: url(./Image/backCover.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.addBackground .col-3{
    flex: 0 0 23% !important;
}

#Newsletter{
    background-image: url('./Image/backCover-1.png') ;
    background-repeat: no-repeat;
    background-size: cover;
}
.menuSubHeading-2{
    font-size: 40px;
    font-weight: bold;
    color: #1F2471;
}

#testimonial{
    background-image: url('./Image/backCover.png') ;
    background-repeat: no-repeat;
    background-size: cover;
}