#logo {
    padding: 1%;
}

ul {
    list-style-type: none;
    overflow: hidden;
    font-size: 20px;
    font-weight: bold;
    /* margin-top: -3% !important;
    padding: 0%;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    margin-left: 27% !important; */
}

ul li {
    display: inline;
}

ul li a {
    padding: 14px;
    text-decoration: none !important;
    color: black;
}

span {
    display: inline;
}

.fa-lg {
    font-size: 0.6em;
    padding-left: 1px;
    vertical-align: 19%;
}

.getQuote {
    width: 19%;
    height: 60px;
    border-radius: 100%;
    background-color: #896EFF;
    /* padding: 2%; */
    margin-top: 2%;
    /* margin-left: 85%; */
    display: inline-block;
}

.greaterThen {
    font-size: 33px;
    color: white;
    /* padding-left: 19px; */
}

#quote {
    display: inline-block;
    /* float: right; */
    /* margin-top: -3%; */
    font-weight: bold;
    color: #896EFF;
}

.navigationBar {
    background-color: #FAFAFF;
}

#desc {
    font-size: 65px;
    font-weight: bold;
}

.fontColor {
    color: #896EFF;
}

#desc2 {
    font-size: 22px;
}

.learnMore {
    width: 9%;
    height: 60px;
    border-radius: 100%;
    background-color: #896EFF;
    display: inline-block;
}

#learn {
    display: inline-block;
}

.setBg {
    background-image: url('./Image/section1-BG.png');
}

.addImage {
    background-image: url('./Image/section1-BG2.png');
}

.positionImage {
    position: absolute;
    left: 0;
    max-width: 100%;
    height: auto;
}

.clientImage {
    display: inline;
    padding: 2% 4%;
}

#client-1a {
    display: none;
}

#client-1:hover {
    background-color: #896EFF;
    border-radius: 3%;
}

#client-1:hover #client-1a {
    display: inline;
}

#client-1:hover #client-1b {
    display: none;
}

#client-2b {
    display: none;
}

#client-2:hover {
    background-color: #896EFF;
    border-radius: 3%;
}

#client-2:hover #client-2b {
    display: inline;
}

#client-2:hover #client-2a {
    display: none;
}

#client-3b {
    display: none;
}

#client-3:hover {
    background-color: #896EFF;
    border-radius: 3%;
}

#client-3:hover #client-3b {
    display: inline;
}

#client-3:hover #client-3a {
    display: none;
}

#client-4b {
    display: none;
}

#client-4:hover {
    background-color: #896EFF;
    border-radius: 3%;
}

#client-4:hover #client-4b {
    display: inline;
}

#client-4:hover #client-4a {
    display: none;
}

#client-5b {
    display: none;
}

#client-5:hover {
    background-color: #896EFF;
    border-radius: 3%;
}

#client-5:hover #client-5b {
    display: inline;
}

#client-5:hover #client-5a {
    display: none;
}

#client-6b {
    display: none;
}

#client-6:hover {
    background-color: #896EFF;
    border-radius: 3%;
}

#client-6:hover #client-6b {
    display: inline;
}

#client-6:hover #client-6a {
    display: none;
}

.menuText {
    background-color: #F3F0FF;
    color: #896EFF;
    padding: 11px 43px;
    font-size: 21px;
    font-weight: bold;
    border-radius: 14px;
}

.menuSubHeading {
    font-size: 45px;
    font-weight: bold;
    color: #1F2471;
}

#backgroundYellow {
    background-color: #FFA808;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.offset-1 {
    margin-left: 12.333% !important
}

#backgroundPink {
    background-color: #FF586E;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

#backgroundGreen {
    background-color: #029F76;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.backgroundGreen-1 {
    background-color: #029F76;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.addBackground {
    background-image: url(./Image/backCover.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#Newsletter {
    background-image: url('./Image/backCover-1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.menuSubHeading-2 {
    font-size: 40px;
    font-weight: bold;
    color: #1F2471;
}

#testimonial {
    background-image: url('./Image/backCover.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutus {
    border-radius: 10%;
    display: inline-block;
    margin-left: 3%;
    width: 20%;
}

.aboutus-1 {
    border-radius: 10%;
    display: inline-block;
    margin-left: 5%;
    width: 20%;
}

.featurePink {
    border-radius: 100%;
    width: 100px;
    height: 115px;
    border: 5px solid #FF586E;
}

.featureYellow {
    border-radius: 100%;
    width: 100px;
    height: 115px;
    border: 5px solid #FFA808;
}

.featureGreen {
    border-radius: 100%;
    width: 100px;
    height: 115px;
    border: 5px solid #0AA17A;
}

#paraFormate {
    font-size: 25px;
    background-color: #F3F0FF;
    color: #1F2471;
}

.product1 {
    margin-bottom: 11%;
}

.product3 {
    margin-bottom: 11%;
}

.product4 {
    margin-top: -9%;
    margin-bottom: 8%;
}

.product5 {
    margin-top: 2%;
    margin-bottom: 8%;
}

.product6 {
    margin-top: -9%;
    margin-bottom: 8%;
}
#review {
    font-weight: bold;
    font-size: 45px;
    color: #FFFFFF;
}

#review-2 {
    display: none;
}

.navBarRes{
    display: none;
}

#newsDesc{
    font-size: 45px;
    color: #FFFFFF;
    font-weight: bold;
}

.newsDesc-1{
    color: #FFFFFF;
    font-size: 25px;
}
.priceDesc{
    font-size: 20px;
}

.imgStyle{
    border-radius: 100%;
    max-width: 208%;
    height: 70px;
    margin-left: -15px;
}
#basicPlan{
    width: 35%;
    display: inline-block;
    box-shadow: 0px 0 10px rgba(31, 66, 135, 0.3);
    border-radius: 10px;
    position: absolute;
    left:10%;
}
#standarPlan{
    background-color: #7050FF;
    color: #FFFFFF;
    width: 40%;
    display: inline-block;
    box-shadow: 0px 0 10px rgba(31, 66, 135, 0.3);
    border-radius: 10px;
    position: relative;left:34%;
}
#premiumPlan{
    width: 35%;
    display: inline-block;
    box-shadow: 0px 0 10px rgba(31, 66, 135, 0.3);
    border-radius: 10px;
    position: absolute;
    right: 7%;
}
.headColor{
    color:#1F2471;font-weight: bold;
}
.priceColor{
    color:#7050FF;font-weight: bold;
}
#standarColor{
    color:#FFFFFF;font-weight: bold;
}
#standarColorPrice{
    color:#F3F0FF;font-weight: bold;
}
@media (max-width: 800px) {
    .learnMore {
        width: 14%;
        height: 52px;
        border-radius: 100%;
        background-color: #896EFF;
        display: inline-block;
    }

    .greaterThen {
        font-size: 30px;
        color: white;
        /* padding-left: 19px; */
    }

    #desc {
        font-size: 30px;
    }

    #desc2 {
        font-size: 18px;
    }

    .menuText {
        font-size: 18px;
        padding: 11px 33px;
    }

    .menuSubHeading {
        font-size: 30px;
    }

    .menuSubHeading-2 {
        font-size: 28px;
    }

    #review {
        font-size: 35px;
    }

    #review-1 {
        display: none;
    }

    #review-2 {
        display: inline;
    }

    .navBarPc {
        display: none !important;
    }

    .navBarRes{
        display: inline;
    }

    .sidebar {
        height: 100%;
        /* 100% Full-height */
        width: 0;
        /* 0 width - change this with JavaScript */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Stay on top */
        top: 0;
        left: 0;
        background-color: #896EFF;
        /* Black*/
        overflow-x: hidden;
        /* Disable horizontal scroll */
        padding-top: 60px;
        /* Place content 60px from the top */
        transition: 0.5s;
        /* 0.5 second transition effect to slide in the sidebar */
    }
    
    .sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: black;
        display: block;
        transition: 0.3s;
    }
    #close{
        display: none;
    }
    .sidebar a:hover {
        color: #f1f1f1;
    }
    
    /* The button used to open the sidebar */
    .openbtn {
        font-size: 20px;
        cursor: pointer;
        background-color: #111;
        color: white;
        padding: 10px 15px;
        border: none;
    }
    
    .openbtn:hover {
        background-color: #444;
    }
    
    #main {
        transition: margin-left .5s;
        /* If you want a transition effect */
        padding: 20px;
    }

    .hideClient{
        display: none;
    }
    .aboutus {
        border-radius: 5%;
        /* display: inline-block; */
        /* margin-left: 3%; */
        width: 100%;
        font-weight: bold;
    }
    .aboutus-1 {
        border-radius: 5%;
        /* display: inline-block; */
        margin-left: 3%;
        margin-top: 5%;
        width: 100%;
        font-weight: bold;
    }
    .product1 {
        margin-bottom: 5%;
    }
    
    .product3 {
        margin-top: 5%;
        margin-bottom: 15%;
    }
    
    .product4 {
        margin-top: -9%;
        margin-bottom: 5%;
    }
    
    .product5 {
        margin-top: 2%;
        margin-bottom: 15%;
    }
    
    #newsDesc{
        font-size: 25px;
    }

    .newsDesc-1{
        font-size: 16px;
    }
    .priceDesc{
        font-size: 16px;
    }
    .imgStyle{
        border-radius: 100%;
        max-width: 208%;
        height: 81px;
        margin-left: -15px;
    }
    .textboxStyle{
        padding-top: 20px;
    }
    #basicPlan{
        width: 100%;
        display: block;
        box-shadow: 0px 0 10px rgba(31, 66, 135, 0.3);
        border-radius: 10px;
        position: static;
        left:0%;
    }
    #standarPlan{
        background-color: white;
        color: #111;
        width: 100%;
        display: block;
        box-shadow: 0px 0 10px rgba(31, 66, 135, 0.3);
        border-radius: 10px;
        position: static;
        left:0%;
    }
    #premiumPlan{
        width: 100%;
        display: block;
        box-shadow: 0px 0 10px rgba(31, 66, 135, 0.3);
        border-radius: 10px;
        position: static;
        right: 0%;
    }

    #basicPlan:hover{
        background-color: #7050FF;
        color: #FFFFFF;
    }
    #basicPlan:hover .priceColor{
        color: #FFFFFF;
    }
    #standarPlan:hover{
        background-color: #7050FF;
        color: #FFFFFF;
    }
    #standarColor{
        color:#1F2471;
    }
    #standarColorPrice{
        color:#7050FF;
    }
    #standarPlan:hover #standarColorPrice{        
        color: #FFFFFF;
    }    
    #premiumPlan:hover{
        background-color: #7050FF;
        color: #FFFFFF;
    }
    #premiumPlan:hover .priceColor{
        color: #FFFFFF;
    }
    #paraFormate{
        display: none;
    }
}